@font-face {
    font-family: EternalUiRegular;
    src: url(../fonts/EternalUiRegular.ttf);
}

body{
	margin: 0;
}

.body{
	height: 95vh;
	margin-top: 5vh;
	background-color: #FFE4B5;
	font-size: 20px;
	font-family: EternalUiRegular
}

#div_img{
	text-align: right;
}

#logo{
	width: 40%;
}


#main{
	text-align: center;
	margin: 0 auto;
	width: 100%
}

.myButton {
	border-radius: 10px 0 10px 0;
	background-color: transparent;
	border:3px outset #DEB887;
	display:inline-block;
	cursor:pointer;
	padding: 2px 4px 0 4px;
	font-family: EternalUIRegular;
	font-size: 20px
}
.myButton.active{
	border: 3px solid #8a7254;
}

.btnImg{
	height: 25px;
}

.tab{
	height: 500px;
	border-radius: 0 0 12px 12px;
	display: none;
}
.tab.active{
	display: block;
}

.gameWrap{
	width: 400px;
	min-height: 400px;
	border-width: 5px;
	border-style: outset;
	border-color: #DEB887;
	border-radius: 25px 0 25px 0;
	margin: 10px auto;
}

#game{
	display: flex;
}

#field {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  width: 322px;
  height: 322px;
  background-color: #DEB887; 
  display: flex;
  margin: auto;
}

.cell {
	width: 16px;
	height: 16px;
	background-color: #FFE4B5;
	margin: 2px;
	transition: 0.2s ease-in-out;
  }
  
  .cell.open{
	  background-color: #DEB887;
  }
  
  .cell.mine{
	  background-color: indianred;
  }
  
  .cell.closed_mine{
	  background-color: rgb(226, 119, 100);
  }

#msgBox{
	position: fixed;
	bottom: 20px;
}

#settings{
	text-align: center;
}

#wrap{
	width: 400px;
	text-align: right;
	margin-right: 15px;
}

#wrap p{
	margin-right: 20%;
}