@font-face {
    font-family: EternalUiRegular; /* Гарнитура шрифта */
    src: url(../fonts/EternalUiRegular.ttf); /* Путь к файлу со шрифтом */
   }

body{
	background-image: url("../images/bg.jpg");
	background-repeat: repeat;
	background-size: 250px;
	background-attachment: fixed; 
}

.body{
	width: 75%;
	height: 100%;
	background-color: #FFE4B5;
	font-size: 20px;
	font-family: EternalUiRegular
}

.gameWrap{
	width: 400px;
	min-height: 400px;
	border-width: 5px;
	border-style: outset;
	border-color: #DEB887;
	border-radius: 25px 0 25px 0;
	margin-top: 10px;
	/*display: flex;*/
}

#field {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  width: 322px;
  height: 322px;
  background-color: #DEB887; 
  display: flex;
}

#game{
	display: flex;
}

#wrap{
	width: 400px;
	text-align: right;
}

input{
	width: 50px;
	margin-right: 100px;
}

.cell {
  width: 16px;
  height: 16px;
  background-color: #FFE4B5;
  margin: 2px;
  /*box-shadow: 0 0 2px #000;*/
  transition: 0.2s ease-in-out;
}

.cell.open{
	background-color: #DEB887;
}

.cell.mine{
	background-color: indianred;
}

.cell.closed_mine{
	background-color: rgb(226, 119, 100);
}

#logo{
	width: 60%
}

div{
	text-align: center;
	margin: auto;
}

.btnImg{
	height: 25px;
}

.myButton {
	border-radius: 10px 0 10px 0;
	background-color: transparent;
	border:3px outset #DEB887;
	display:inline-block;
	cursor:pointer;
	padding-top: 2px;
	padding: 2px 4px 0 4px;
	font-family: EternalUIRegular;
	font-size: 20px
}
.myButton.active{
	border: 3px solid #8a7254;
}

.tab{
	height: 500px;
	border-radius: 0 0 12px 12px;
	display: none;
}
.tab.active{
	display: block;
}